<div class="row">
  <div class="col-sm-12 col-centered">
    <p id="notice"><%= notice %></p>

    <h1>Listing Algorithms</h1>
    <br>
     <% unless @algorithms.empty? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <% @algorithms.each do |algorithm| %>
            <tr>
              <td><%= algorithm.name %></td>
              <td><%= algorithm.category %></td>
              <td><%= truncate(algorithm.description, :length => 50) %></td>
            </tr>
            <tr>
              <td colspan="3" class="add-space"><%= link_to 'Show', algorithm, class: "btn btn-primary" %>
                <% if (current_user && (algorithm.user == current_user)) %>
                  <%= link_to 'Edit', edit_algorithm_path(algorithm), class: "btn btn-info" %>
                  <%= link_to 'Destroy', algorithm, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
    <br>
    <%= link_to 'New Algorithm', new_algorithm_path, class: "btn btn-primary push-right" %>
  </div><!--col-sm-12 col-centered-->
</div><!--row-->