<p id="notice"><%= notice %></p>

<h1>Listing Algorithms</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="add-space">Category</th>
      <th class="add-space">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @algorithms.each do |algorithm| %>
      <tr>
        <td><%= algorithm.name %></td>
        <td class="add-space"><%= algorithm.category %></td>
        <td class="add-space"><%= truncate(algorithm.description, :length => 50) %></td>
        <td><%= link_to 'Show', algorithm, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_algorithm_path(algorithm), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', algorithm, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Algorithm', new_algorithm_path, class: "btn btn-primary" %>
