<p id="notice"><%= notice %></p>
<div class="row-centered">
<h1><%= @algorithm.name.titleize %>&nbsp<%= controller.controller_name.titleize.singularize %></h1>
</div><!--row-centered-->
<p>

<div class="algo-details">
	<strong>Category:</strong>
  	<%= @algorithm.category %>
</div>

<div class="algo-details">
	<strong>Description:</strong>
  	<%= @algorithm.description %>
</div>

<% if @algorithm.user == current_user %>
	<%= link_to 'Edit', edit_algorithm_path(@algorithm), class: "btn btn-info" %> 
<% end %>
	<%= link_to 'Back', algorithms_path, class: "btn btn-primary" %>
