<p id="notice"><%= notice %></p>
<h1><%= controller.controller_name.titleize %></h1>
<p>
  <strong>Name:</strong>
  <%= @algorithm.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @algorithm.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @algorithm.description %>
</p>

<%= link_to 'Edit', edit_algorithm_path(@algorithm), class: "btn btn-info" %> <%= link_to 'Back', algorithms_path, class: "btn btn-primary" %>
