<div class="container">
	<div class="row row-centered">
		<div class="col-sm-4 col-centered">
			<h1>Reports</h1>
			<% @reports.each do |report| %>
				<p><%= link_to "#{report.title}", report_path(report)%></p>
			<% end %>
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Algorithms</h1>
			<p><%= link_to "Quantopian", "https://www.quantopian.com/home" %> offers users access to a backtesting platform that can be used to test the performace of user generated investment strategies.  The following documents are helpful with learning how to use Quantopian:</p> 
			<h3>
				<%= link_to "~Api Documents~", "https://www.quantopian.com/help" %>
			</h3> 
			<h3>
				<%= link_to "Quantopian Part 1", "http://media.quantopian.com/blog/I.BasicsoftheIDE.pdf" %>
			</h3>
			<h3>
				<%= link_to "Quantopian Part 2", "http://media.quantopian.com/blog/Lesson2set_universeandfetcher.pdf" %>
			</h3>
			<h3>
				<%= link_to "Quantopian Part 3", "http://media.quantopian.com/blog/Lesson3TheBasicsofFundamentals.pdf" %>
			</h3>
			
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Thoughts</h1>
			<p>For what does it profit a man to gain the whole world and forfeit his soul?</p>
			<h3 class="add-line">Favorite Authors</h3>
			<p><%= link_to "Malcolm Gladwell", "http://gladwell.com/" %></p>
		</div><!--col-4 col-centered-->
	</div><!--row row-centered-->
</div><!--container-->