<div class="container">
	<div class="row row-centered">
		<div class="col-sm-4 col-centered">
			<h1>Reports</h1>
			<p>Reports on individual stocks and industries:</p>
			<% @reports.each do |report| %>
				<div class="clickable-link"><%= link_to "#{report.title.titleize}", report_path(report)%></div>
			<% end %>
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Algorithms</h1>
			<p><%= link_to "Quantopian", "https://www.quantopian.com/home" %> offers users access to a backtesting platform that can be used to test the performace of user generated investment strategies.  The following documents are helpful with learning how to use Quantopian:</p> 
			<div class="clickable-link">
				<%= link_to "~Api Documents~", "https://www.quantopian.com/help" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 1", "http://media.quantopian.com/blog/I.BasicsoftheIDE.pdf" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 2", "http://media.quantopian.com/blog/Lesson2set_universeandfetcher.pdf" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 3", "http://media.quantopian.com/blog/Lesson3TheBasicsofFundamentals.pdf" %>
			</div>
			
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Interests</h1>
			<p class="quote">~For what does it profit a man to gain the whole world and forfeit his soul?</p>
			<h3 class="add-line">Authors</h3>
			<ul>
				<li><%= link_to "Malcolm Gladwell", "http://gladwell.com/" %></li>
				<li><%= link_to "Nassim Nicholas Taleb", "http://www.fooledbyrandomness.com/" %></li>
			</ul>
			<h3 class="add-line">TV Shows</h3>
			<ul>
				<li><%= link_to "The Real Hustle", "http://www.bbc.co.uk/programmes/b006m8mf" %></li>
			</ul>
			<h3 class="add-line">Podcasts</h3>
			<ul>
				<li><%= link_to "The Social-Engineer Podcast", "http://www.social-engineer.org/category/podcast/" %></li>
			</ul>
		</div><!--col-4 col-centered-->
	</div><!--row row-centered-->
</div><!--container-->