<div class="container">
	<div class="row row-centered">
		<div class="col-sm-4 col-centered">
			<h1>Reports</h1>
			<p>&nbsp &nbsp &nbsp Reports on individual securities and industries:</p>
			<% @reports.each do |report| %>
				<div class="clickable-link"><%= link_to "#{report.title.titleize}", report_path(report)%></div>
			<% end %>
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Algorithms</h1>
			<p>&nbsp &nbsp &nbsp <%= link_to "Quantopian", "https://www.quantopian.com/home" %> provides access to a backtesting platform that can be used to test the performance of user generated investment strategies.  The following documents are helpful with learning how to use Quantopian:</p>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 1", "http://media.quantopian.com/blog/I.BasicsoftheIDE.pdf" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 2", "http://media.quantopian.com/blog/Lesson2set_universeandfetcher.pdf" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Quantopian Part 3", "http://media.quantopian.com/blog/Lesson3TheBasicsofFundamentals.pdf" %>
			</div>
			<div class="clickable-link">
				<%= link_to "Creating Robust Algorithms", "https://www.quantopian.com/posts/tips-for-writing-robust-algorithms-for-the-hedge-fund" %>
			</div>
			<div class="clickable-link">
				<%= link_to "~Api Documents~", "https://www.quantopian.com/help" %>
			</div>
			
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<h1>Interests</h1>
			<p class="quote">~For what does it profit a man to gain the whole world and forfeit his soul?</p>
			<h3 class="add-line">Authors</h3>
				<div class="clickable-link"><%= link_to "Paul Ekman", "http://www.paulekman.com/books/" %></div>
				<div class="clickable-link"><%= link_to "Malcolm Gladwell", "http://gladwell.com/" %></div>
				<div class="clickable-link"><%= link_to "Nassim Nicholas Taleb", "http://www.fooledbyrandomness.com/" %></div>
			<h3 class="add-line">Podcasts</h3>
			<div class="clickable-link"><%= link_to "The Art of Charm", "http://theartofcharm.com/best/" %></div>
				<div class="clickable-link"><%= link_to "The Social-Engineer Podcast", "http://www.social-engineer.org/category/podcast/" %></div>
		</div><!--col-4 col-centered-->
	</div><!--row row-centered-->
</div><!--container-->