<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @report.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-info" %> <%= link_to 'Back', reports_path, class: "btn btn-primary" %>
