<p id="notice"><%= notice %></p>
<div class="row-centered">
	<h1><%= @report.title.titleize %>&nbsp<%= controller.controller_name.titleize.singularize %></h1>
</div><!--row-centered-->


<p>
  <%= @report.body %>
</p>
<div class="written-by">
  <h3>Author: <%= @report.author.titleize %></h3>
</div>

<% if @report.user == current_user %>
	<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-info" %> 
<% end %>
	<%= link_to 'Back', reports_path, class: "btn btn-primary" %>
