<!DOCTYPE html>
<html>
<head>
  <title>MyWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="row row-centered">
	<div class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
			<li class="<%= is_active?(root_path)%>"><%= link_to "Home", root_path %></a></li>
			<li class="<%= is_active?(reports_path)%>"><%= link_to "Reports", reports_path %></li>
			<li class="<%= is_active?(algorithms_path)%>"><%= link_to "Algorithms", algorithms_path %></a></li>
		</ul>
	</div><!--navbar navbar-inverse-->
</div><!--row-->
<body>

<%= yield %>

</body>
</html>

